a.link{
  color: #000 !important;
}
.avatar{
  object-fit: cover !important;
  width: 45px;
  height: 45px;
}
.profile{
  background-position: center !important;
  background-size: cover !important;
}